[MAIN]

# When enabled, pylint would attempt to guess common misconfiguration and emit
# user-friendly hints instead of false-positive error messages.
suggestion-mode=yes
init-hook='import sys; sys.path.append("src")'

[MESSAGES CONTROL]

disable=
   too-few-public-methods,
   duplicate-code,
   pointless-statement,
   possibly-used-before-assignment,
   used-before-assignment,

[BASIC]

# Good variable names which should always be accepted, separated by a comma
good-names=i,j,k,ex,Run,_,e,df
