scikit-learn
numpy
pandas
pytest
ipykernel
mlflow
requests
pytest-mock
pytest-pylint
openpyxl
requests-mock
apache-airflow==2.5.1
apache-airflow-providers-celery
apache-airflow-providers-common-sql
apache-airflow-providers-ftp
apache-airflow-providers-http
apache-airflow-providers-imap
apache-airflow-providers-sqlite
Flask
Flask-AppBuilder
Flask-Babel
Flask-Caching
Flask-JWT-Extended
Flask-Limiter
Flask-Login
Flask-Session
Flask-SQLAlchemy
Flask-WTF
flower
celery